# Virtual Environment
venv/
encodings/
pem/
employee_metadata.json
# Byte-compiled / optimized / DLL files
request_logs.json
__pycache__/
*.py[cod]
*.so
*.egg
*.pem
*.npy
*.Identifier
.gitignore
*.egg-info/
dist/
build/
.vercel
*.html
*.jpg
*.png
.gitignore
